.login-button {
    background-color: rgb(90, 202, 38);
    color: white;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: rgb(202, 38, 38);
}

.navbar{
    height: 4rem;
}

.navbar-brand{
    font-weight: 500;
    font-size: 24px;
    color: rgb(90, 202, 38);
    transition: 0.3s background-color;
}

.navbar-brand:hover{
    color: rgb(202, 38, 38);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
    font-weight: 600;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: rgb(90, 202, 38);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}