.body{
    background-color: var(--bs-light);
}
.login-button {
    color: white;
    text-decoration: none;
}

.login-button:hover {
    color: var(--bs-secondary);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: white;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: var(--bs-secondary);
    font-weight: 600;
}

@media (min-width: 991.98px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--bs-primary);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

@media (max-width: 991.98px) {
    .offcanvas {
        background-color: rgba(var(--bs-dark-rgb), 0.3);
        backdrop-filter: blur(8px);
    }

    .offcanvas-backdrop.show {
        background-color: rgba(var(--bs-dark-rgb), 0.3);
        opacity: 1;
    }

    #offcanvasNavbar .navbar-nav {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #offcanvasNavbar .nav-link {
        width: 100%;
    }
}