$primary: #ffe1ac;
$secondary: #3a1012;
$dark: #a48966;
$light: #dbd0c2;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

@import '../node_modules/bootstrap/scss/bootstrap';