
.maino{
    background-image: url(https://muliratendo.github.io/UMU_WebDev_GroupC_2025/assets/images/local/dining/in-room2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(36, 36, 52);
    background-blend-mode: overlay;
    min-height: 100vh;
}
.maino1{
    background-image: url(https://muliratendo.github.io/UMU_WebDev_GroupC_2025/assets/images/local/dining/coffee2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(36, 36, 52);
    background-blend-mode: overlay;
    min-height: 100vh;
}
.maino2{
    background-image: url(https://muliratendo.github.io/UMU_WebDev_GroupC_2025/assets/images/local/dining/grill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(36, 36, 52);
    background-blend-mode: overlay;
    min-height: 100vh;
}
.maino3{
    background-image: url(https://muliratendo.github.io/UMU_WebDev_GroupC_2025/assets/images/local/dining/pool1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(36, 36, 52);
    background-blend-mode: overlay;
    min-height: 100vh;
}
.maino4{
    background-image: url(https://muliratendo.github.io/UMU_WebDev_GroupC_2025/assets/images/local/dining/royal1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(36, 36, 52);
    background-blend-mode: overlay;
    min-height: 100vh;
}
.maino5{
    background-image: url(https://muliratendo.github.io/UMU_WebDev_GroupC_2025/assets/images/local/dining/bar1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(36, 36, 52);
    background-blend-mode: overlay;
    min-height: 100vh;
}