
.maino{
    background-image: url(https://muliratendo.github.io/UMU_WebDev_GroupC_2025/assets/images/local/dining/in-room2.jpg);
}
.maino1{
    background-image: url(https://muliratendo.github.io/UMU_WebDev_GroupC_2025/assets/images/local/dining/coffee2.jpg);
}
.maino2{
    background-image: url(https://muliratendo.github.io/UMU_WebDev_GroupC_2025/assets/images/local/dining/grill.jpg);
}
.maino3{
    background-image: url(https://muliratendo.github.io/UMU_WebDev_GroupC_2025/assets/images/local/dining/pool1.jpg);
}
.maino4{
    background-image: url(https://muliratendo.github.io/UMU_WebDev_GroupC_2025/assets/images/local/dining/royal1.jpg);
}
.maino5{
    background-image: url(https://muliratendo.github.io/UMU_WebDev_GroupC_2025/assets/images/local/dining/bar1.jpg);
}